.md-main__inner {
  max-width: 1220px;
}

.md-content__inner {
  padding-bottom: 3rem;
}

.md-typeset {
  font-size: 0.8rem;
  line-height: 1.6;
}

.md-typeset h1 {
  font-weight: 700;
}

.md-typeset h2 {
  color: var(--md-primary-fg-color);
  font-weight: 700;
}

.md-typeset h3 {
  color: var(--md-primary-fg-color);
  font-weight: 600;
}
